* {
    box-sizing: border-box;
    font-size: 1rem;
}

body, html {
    border: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

img {
    border:0;
    position:fixed;
    top:0;
    left:0;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    height:auto;
    z-index:-20;
}

h1, h2 {
    display: none;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    width:100vw;
}

li {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

nav {
    color:white;
    height: 10vmin;
    display: flex;
    align-items: center;

}

section {
    height:90vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -10;
    margin:0;
}

article {
    color: white;
    text-align: center;
    align-self: center;
}

.title {
    font-size: 1.5rem;
    cursor: default;
}

.contactinfo {
    display: none;
    background-color: black;
    border-radius: 10px;
    padding: 40px;
    width: 50vw;
}


@media screen and (max-width: 1024px) {
    img {
        left: 50%;
        margin-left: -512px;

  }

  